<div class="media-body">
  <div class="media">

    <a ng-class="{ 'pull-left': vm.msg.sender === 'me', 'pull-right': vm.msg.sender === 'bot' }" href="#">
      <i class="fa fa-user fa-2x" aria-hidden="true" ng-if="vm.msg.sender === 'me'"></i>
      <i class="fa fa-android fa-2x" aria-hidden="true" ng-if="vm.msg.sender === 'bot'"></i>
    </a>
    <div class="media-body">
      <div ng-if="vm.msg.channel && vm.msg.channel != 'default'" ng-class="{ 'text-left': vm.msg.sender === 'me', 'text-right': vm.msg.sender === 'bot' }">{{ vm.msg.channel }}</div>

      <div ng-if="vm.text" ng-class="{ 'text-left': vm.msg.sender === 'me', 'text-right': vm.msg.sender === 'bot' }">{{ vm.text }}</div>

      <div ng-if="vm.cards && vm.cards.length > 0">
        <div ng-repeat="card in vm.cards" class="message-structured-container">
          <div>
            <p ng-if="card.image"><img ng-src="{{ card.image.mediaUri }}" alt="{{ card.image.altText }}"></p>
            <p ng-if="card.text"><strong>{{ card.text }}</strong></p>
          </div>

          <div ng-if="card.buttons && card.buttons.length > 0" class="btn-group">
            <p ng-if="0" ng-repeat-start="button in card.buttons"></p>
              <a ng-if="button.payload && button.payload.startsWith('http')" ng-href="{{ button.payload }}" target="_blank" class="btn btn-default">{{button.text}}</a>
              <a ng-if="!button.payload || !button.payload.startsWith('http')" class="btn btn-default" ng-click="vm.postback(button.text, button.payload)">{{ button.text }}</a>
            <p ng-if="0" ng-repeat-end></p>
          </div>
        </div>
      </div>

      <div ng-if="vm.media && vm.media.length > 0">
        <div ng-repeat="media in vm.media" class="message-structured-container">
          <div>
            <p ng-if="media.mimeType && media.mimeType.startsWith('image')"><img ng-src="{{ media.mediaUri }}" alt="{{ media.altText }}"></p>
            <p ng-if="!media.mimeType || !media.mimeType.startsWith('image')"><a href="{{ media.mediaUri }}" target="_blank">{{ media.altText }}</a></p>
          </div>
        </div>
      </div>

      <div ng-if="vm.buttons && vm.buttons.length > 0">
        <div class="message-structured-container">
          <div class="btn-group">
            <p ng-if="0" ng-repeat-start="button in vm.buttons"></p>
              <a ng-if="button.payload && button.payload.startsWith('http')" ng-href="{{ button.payload }}" target="_blank" class="btn btn-default">{{button.text}}</a>
              <a ng-if="!button.payload || !button.payload.startsWith('http')" class="btn btn-default" ng-click="vm.postback(button.text, button.payload)">{{ button.text }}</a>
            <p ng-if="0" ng-repeat-end></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
